@model APPurchaseOrderViewModel
@{ Layout = null; }
<style>
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 0%;
        top: 39px;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
@if (ViewBag.Items == null)
{
<div class="border border-danger">
    <div class="ibox-title">
        <h5 class="font-bold">Add Purchase Order Items</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        <input asp-for="PRItemId" type="hidden" name="PRItemId" id=@string.Format("{0}{1}","PRItemId",ViewBag.Counter) />
                        <label asp-for="ItemId"></label>
                        <Select asp-for="ItemId" name="ItemId" id='@string.Format("{0}{1}", "ItemId", ViewBag.Counter)' onchange="getItemDetails(this.id)" class="form-control select-item" data-validation="required" data-validation-error-msg="Item is required" data-validation-error-msg-container=@string.Format("{0}{1}","#_item",ViewBag.Counter)>
                            <option selected disabled>
                                Select...
                            </option>
                        </Select>
                        <p id=@string.Format("_item{0}",ViewBag.Counter)></p>
                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="form-group">
                        <label asp-for="DeliveryDate"></label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input asp-for="DeliveryDate" class="form-control custom-date-picker" type="text" value="@(Model.Id == 0 ? CommonHelper.CurrentDate : Model.DeliveryDate.ToString(CommonHelper.DateFormat))" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-2">
                    <label asp-for="HSCode"></label>
                    <input asp-for="HSCode" name="HSCode" id='@string.Format("{0}{1}","HSCode",ViewBag.Counter)' onkeyup="calculateLineTotal(@ViewBag.Counter)" required class="form-control text-right calculate-total dependent" type="number" />
                </div>
                <div class="col-sm-4 col-md-6 col-lg-2">
                    <label asp-for="Qty"></label>
                    <input asp-for="Qty"  min="0" name="Qty" id='@string.Format("{0}{1}","Qty_",ViewBag.Counter)' onkeyup="calculateLineTotal(@ViewBag.Counter)" required class="form-control text-right calculate-total dependent" type="number" />
                </div>
                <div class="col-sm-4 col-md-6 col-lg-2">
                    <label asp-for="Rate"></label>
                    <input asp-for="Rate" min="0" name="Rate" id='@string.Format("{0}{1}","Rate_",ViewBag.Counter)'  onkeyup="calculateLineTotal(@ViewBag.Counter)" step="any" class="form-control text-right calculate-total dependent" type="number" />
                </div>
                <div class="col-sm-4 col-md-6 col-lg-2">
                    <label asp-for="Total_"></label>
                    <input asp-for="Total_"  min="0" name="Total_" id='@string.Format("{0}{1}","Total_",ViewBag.Counter)' readonly class="form-control text-right" tabIndex="-1" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-sm-4 col-md-6 col-lg-6 ">
                    <div class="form-group">
                        <label>Cost Center</label>
                        <Select asp-for="DetailCostCenter" name="DetailCostCenter" id='@string.Format("{0}{1}", "DetailCostCenter", ViewBag.Counter)' class="form-control text-right  dependent" asp-items="@(new SelectList(Model.CostCenterList,"Id","Description"))" >
                            <option value="0">
                               N/A
                            </option>
                            @*<option value="0">No Tax</option>*@
                        </Select>
                        
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-2 ">
                    <div class="form-group">
                        <label asp-for="TaxId"></label>
                        <Select asp-for="TaxId" name="TaxId" id='@string.Format("{0}{1}", "TaxSlab_", ViewBag.Counter)' onchange="calculateTax(@ViewBag.Counter)" class="form-control text-right calculate-total dependent" asp-items="@(new SelectList(Model.TaxList,"Id","Name"))" data-validation="required" data-validation-error-msg="Tax is required" data-validation-error-msg-container=@string.Format("#_taxSlab{0}",ViewBag.Counter)>
                            <option>
                                Select...
                            </option>
                            @*<option value="0">No Tax</option>*@
                        </Select>
                        <p id=@string.Format("_taxSlab{0}",ViewBag.Counter)></p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-2">
                    <label asp-for="TaxAmount"></label>
                    <input asp-for="TaxAmount" min="0" name="TaxAmount" id='@string.Format("{0}{1}","TaxAmount_",ViewBag.Counter)' readonly class="form-control text-right calculate-total" tabIndex="-1" />
                </div>
                <div class="col-sm-4 col-md-6 col-lg-2">
                    <label asp-for="NetTotal"></label>
                    <input asp-for="NetTotal" min="0" name="NetTotal" id='@string.Format("{0}{1}","NetTotal",ViewBag.Counter)' readonly class="form-control text-right" tabIndex="-1" />
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-lg-12">

                <div class="col-sm-4 col-md-6 col-lg-2 col-lg-offset-8">
                    <label asp-for="FCValue"></label>
                    <input asp-for="FCValue"  min="0" name="FCValue" id='@string.Format("{0}{1}","FCValue",ViewBag.Counter)' readonly class="form-control text-right" tabIndex="-1" />
                </div>
                <div class="col-sm-4 col-md-6 col-lg-2">
                    <label asp-for="PKRValue"></label>
                    @*  <input asp-for="LineTotal" name="LineTotal" id='@string.Format("{0}{1}","LineTotal_",ViewBag.Counter)' readonly class="form-control text-right" tabIndex="-1" />*@
                    <input asp-for="PKRValue"  min="0" name="PKRValue" id='@string.Format("{0}{1}","PKRValue",ViewBag.Counter)' onchange="calculateLineTotal(@ViewBag.Counter)" readonly class="form-control text-right" tabIndex="-1" />
                </div>
            </div>
        </div>
    </div>
</div>}
<p id="p"></p>
<div class="text-right mb-3">
    <a id="add-purchaseOrder-item" class="btn btn-success add-purchaseOrder-item"><i class="fa fa-plus"></i></a>
</div>


<!--Page level calculations like total amount  etc-->
<div class="ibox">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-2 col-sm-3"> <label asp-for="Total"></label> <input asp-for="Total" name="Total" id="Total" class="form-control text-right" readonly placeholder="0.0" tabIndex="-1" /></div>
                <div class="col-lg-2 col-sm-3"><label asp-for="TotalTaxAmount"></label> <input asp-for="TotalTaxAmount" name="TotalTaxAmount" id="TotalTaxAmount" class="form-control text-right" readonly placeholder="0.0" tabIndex="-1" /></div>
                <div class="col-lg-2 col-sm-3"><label asp-for="Freight"></label><input asp-for="Freight" name="Freight" onkeyup="calculateGrandTotal();" id="Freight" class="form-control text-right" placeholder="0.0" /></div>
                <div class="col-lg-2 col-sm-3"><label asp-for="GrandTotal"></label> <input asp-for="GrandTotal" name="GrandTotal" id="GrandTotal" class="form-control text-right" readonly placeholder="0.0" tabIndex="-1" /></div>
            </div>
        </div>
    </div>
</div>
<!--End of Page level calculations like total amount after taxes and total taxes amount etc-->

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="~/js/AP/purchaseOrderItems.js"></script>
<script src="~/lib/select2/select2.min.js"></script>
<script src="~/js/INV/customSelect2.js"></script>
<script>
    $(document).ready(function () {
        debugger;
    _applySelect($('#ItemId' +@ViewBag.Counter));
    var items = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Items));
        var counter = 1;
        if (items != null) {
            if (items.length == 0) {
                counter = counter;
            } else if (items.length != 0) {
                counter = items.length + 1;
            }
        }

    $('#add-purchaseOrder-item').on('click', function () {
        $.post("/AP/PurchaseOrder/PartialPurchaseOrderItems", { counter: counter }
        ).done(function (data) {
            debugger;
            $("#p").append(data);
            counter++;
            }).fail(function (data) {
                console.log(data.responseText);
            });
    });
     lockOutInputs(@ViewBag.Counter);
});
</script>
