@model Numbers.Entity.Models.GLDebitCreditMemo
@{
    ViewData["Title"] = "List of Invoice & Debit/Credit Memos";
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="text-center">
                    <a class="btn btn-primary pull-left m-t-n-xs" asp-controller="DebitCreditMemo" asp-action="Create"><strong>Create New</strong></a>
                </div>
                <br />
                <br />
                <table style="width:100%;" id="Table" class="table table-bordered table-striped dataTables-example">
                    <thead>
                        <tr>
                            <th class="searchHeader" width="10%">@Html.DisplayNameFor(m => m.TransactionNo)</th>
                            <th class="searchHeader" width="10%">@Html.DisplayNameFor(m => m.TransactionDate)</th>
                            <th class="searchHeader" width="14%">@Html.DisplayNameFor(m => m.TransactionTypeId)</th>
                            <th class="searchHeader" width="26%">@Html.DisplayNameFor(m => m.PartyId)</th>
                            <th class="searchHeader" width="14%">@Html.DisplayNameFor(m => m.DocumentNo)</th>
                            <th class="searchHeader" width="10%">@Html.DisplayNameFor(m => m.DocumentDate)</th>
                            <th width="16%">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section customJS{
    <script>
        $(document).ready(function () {
            var table1 = $("#Table").dataTable({
                lengthMenu: [
                    [50, 100, 150, -1],
                    [50, 100, 150, 'All'],
                ],
                "processing": true,
                "serverSide": true,
                "filter": true,
                /*"order": false,*/
                order: [[0, "desc"]],
                dom: "Blrtip",
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "ajax": {
                    "url": "/GL/DebitCreditMemo/GetList",
                    "type": "POST",
                    "datatype": "json"
                },
                "language": {
                    "decimal": "",
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                "columnDefs": [{

                    "targets": '_all',
                    "defaultContent": "-"
                }, { "orderable": false, "targets": [6] }],

                "columns": [
                    { "data": "glDebitCreditMemo.transactionNo", "name": "TransactionNo", className: "text-center" },
                    { "data": "transactionDate", "name": "TransactionDate", className: "text-center" },
                    { "data": "glDebitCreditMemo.transactionType.configValue", "name": "TransactionType.ConfigValue", className: "text-left" },
                    { "data": "glDebitCreditMemo.partyType", "name": "PartyId", className: "text-left" },
                    { "data": "glDebitCreditMemo.documentNo", "name": "DocumentNo", className: "text-left" },
                    { "data": "documentDate", "name": "DocumentDate", className: "text-center" },
                    {

                        "data": "glDebitCreditMemo", className: "text-center",
                        "render": function (data) {

                            if (data.status != "Approved") {
                                if (data.approve == true) {
                                    return "<a href='/GL/DebitCreditMemo/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>      ";
                                } else {
                                    return "<a href='/GL/DebitCreditMemo/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>  <a  href='/GL/DebitCreditMemo/Approve?id=" + data.id + "'class='btn btn-sm btn-success m-t-n-xs'><i class='fa fa-thumbs-up' title='Approve'></i></a>  <a href='/GL/DebitCreditMemo/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='far fa-trash-alt' title='Delete'></i></a> ";
                                }
                            }
                            else {
                                if (data.unapprove == true) {
                                    return "<a href='/GL/DebitCreditMemo/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a>      ";
                                } else {
                                    return "<a href='/GL/DebitCreditMemo/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a>  <a href='/GL/DebitCreditMemo/UnApproveVoucher?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-thumbs-down m-t-n-xs' title='Un Approve'></i></a>  <a href='@ViewBag.ReportPath" + data.id + "' target='_blank' class='btn btn-sm btn-primary btn-lg m-t-n-xs'><i class='fas fa-print' title='Print Report'></i></a></a>";
                                }
                            }


                            //"data": "grMending", className: "text-center",
                            //"render": function (data) {
                            //    return "<a href='/Greige/Mending/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a href='/Greige/Mending/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='far fa-trash-alt' title='Delete'></i></a>";

                            //}


                        }
                    }],

            })
            $('#Table thead th').each(function () {
                if ($(this).hasClass("searchHeader")) {
                    var title = $(this).text();
                    $(this).html('<span hidden>' + title + '</span><input type="text" style ="color: black;width: inherit;" placeholder="' + title + '" />');
                }
            });
            table1.api().columns().every(function () {
                var that = this; 
                var searchBox = $('input', this.header());
                searchBox.on('keyup change clear', function () {
                    that.search(this.value).draw()
                })
                searchBox.on('click', function (e) {
                    
                    e.stopPropagation();
                });
            });
        });
    </script>
}
