@model IEnumerable<Numbers.Entity.Models.APPurchase>
@{
    ViewData["Title"] = "Purchase Index";
    ViewData["CurrentPage"] = "Purchases Invoice";

    var companyName = Context.Session.GetString("CompanyName");
    var companyId = Context.Session.GetInt32("CompanyId").Value; }

<style>
    .table > thead {
        background-color: #4857a5;
    }
</style>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div @*class="ibox-title"*@>
                <div class="ibox-content">
                    <div class="text-center">
                        <a class="btn btn-primary pull-left m-t-n-xs" asp-controller="Purchase" asp-action="Create"> <strong> Create New </strong> </a>
                    </div>
                    <br />
                    <br />
                    <table class="table table-bordered table-striped" style=" width:100%" id="employee">
                        <thead>
                            <tr>
                                <th style="width:8%" class="searchHeader">@Html.DisplayNameFor(model => model.PurchaseNo)</th>
                                <th style="width:8%" class="searchHeader">GRN No</th>
                                <th style="width:10%" class="searchHeader">@Html.DisplayNameFor(model => model.PurchaseDate)</th>
                                <th style="width:15%" class="searchHeader">@Html.DisplayNameFor(model => model.SupplierId)</th>
                                <th style="width:10%" class="searchHeader">Operating Unit</th>
                                <th style="width:10%" class="searchHeader">@Html.DisplayNameFor(model => model.GrandTotal)</th>
                                <th style="width:9%" class="searchHeader">@Html.DisplayNameFor(model => model.Status)</th>
                                <th style="width:10%">Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section customJS{
    <script>


        $(document).ready(function () {
            var table1 = $("#employee").dataTable({
                lengthMenu: [
                    [50, 100, 150, -1],
                    [50, 100, 150, 'All'],
                ],
                processing: true,
                serverSide: true,
                filter: true,
                order: [[0, "desc"]],
                dom: "Blrtip",
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "ajax": {
                    "url": "/AP/Purchase/GetPurchase",
                    "type": "POST",
                    "datatype": "json"
                },
                "language": {
                    "decimal": "",
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                "columnDefs": [{
                    "target": [0],
                    "visible": false,
                    "searchable": false
                }, { "orderable": false, "targets": [7] },
                    {
                        targets: [5],
                        render: $.fn.dataTable.render.number(',', '.', 2, '')
                    }],

                "columns": [
                    { "data": "purchase.purchaseNo", "name": "PurchaseNo", className: "text-center" },
                    { "data": "grnNo", "name": "PurchaseNo", className: "text-center" },
                    { "data": "pDate", "name": "PurchaseDate", className: "text-center" },
                    { "data": "suplier", "name": "Supplier.Name", className: "text-left" },
                    { "data": "operatingUnit", "name": "OperationId", className: "text-left" },
                    //{ "data": "wareHose", "name": "WareHouseId", className: "text-left" },
                    { "data": "purchase.grandTotal", "name": "GrandTotal", className: "text-right" },
                    { "data": "purchase.status", "name": "Status", className: "text-center" },
                    {
                        "data": "purchase", className: "text-center",
                        "render": function (data, row) {
                            if (data.status == "Created") {
                                if (data.approve == true) {
                                    return "<div style=''> <a href='/AP/Purchase/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AP/Purchase/Approve?id=" + data.id + "'class='btn btn-sm btn-success m-t-n-xs'><i class='fa fa-thumbs-up' title='Approve'></i></a>   <a  href='/AP/Purchase/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-trash-alt' title='Delete'></i></a> <a href='@ViewBag.ReportPath2" + data.id + "' target='_blank' class='btn btn-sm btn-info m-t-n-xs'><i class='fas fa-print' title='Print Report'></i></a></div>";
                                } else {
                                    return "<div style=''> <a href='/AP/Purchase/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>   <a  href='/AP/Purchase/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-trash-alt' title='Delete'></i></a> <a href='@ViewBag.ReportPath2" + data.id + "' target='_blank' class='btn btn-sm btn-info m-t-n-xs'><i class='fas fa-print' title='Print'></i></a></div>";
                                }
                            }
                            else {
                                if (data.unapprove == true) {
                                    return "<a href='/AP/Purchase/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a>    <a href='/AP/Purchase/UnApprove?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-thumbs-down m-t-n-xs' title='Un Approve'></i></a> ";
                                } else {
                                    return "<a href='/AP/Purchase/Details?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-search' title='View'></i></a>";
                                }
                            }

                        }
                    }
                ],

            })

            $('#employee thead th').each(function () {
                if ($(this).hasClass("searchHeader")) {
                    var title = $(this).text();
                    $(this).html('<span hidden>' + title + '</span><input type="text" style ="color: black;width: inherit;" placeholder="' + title + '" />');
                }
            });
            table1.api().columns().every(function () {
                var that = this; debugger
                var searchBox = $('input', this.header());
                searchBox.on('keyup change clear', function () {
                    that.search(this.value).draw()
                })
                searchBox.on('click', function (e) {
                    debugger
                    e.stopPropagation();
                });
            });


        });
    </script>
}

