@model VMGriegeRequisition
@{
    ViewData["Title"] = "Greige Requisition Detail";
}
@section customCSS{
    <link href="~/css/plugins/jsGrid/jsgrid.css" rel="stylesheet" />
    <link href="~/css/plugins/jsGrid/jsgrid-theme.css" rel="stylesheet" />
    <link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/codemirror/codemirror.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-12">
        <div class="row white-bg page-heading">
            <div class="col-lg-4 pull-right">
                <div class="title-action">
                    <a asp-controller="GRRequisition" asp-action="Index" class="btn btn-white">List</a>
                    @*<a href="@string.Format(ViewBag.ReportPath, Model.VoucherId)" target="_blank" class="btn btn-primary "><i class="fa fa-print"></i> Voucher</a>*@
                    @*<a href="@string.Format(ViewBag.ReportPath2, Model.Id)" target="_blank" class="btn btn-primary"><i class="fa fa-print"></i> Print </a>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <form class="form-horizontal">

                    @*<div class="form-group">
                        <label asp-for="PlanMonthly.TransactionNo" class="col-lg-3 control-label"></label>
                        <div class="col-lg-9">
                            @Html.DisplayFor(model => model.PlanMonthly.TransactionNo)
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlanMonthly.TransactionDate" class="col-lg-3 control-label"></label>
                        <div class="col-lg-9">
                            @Model.PlanMonthly.TransactionDate.ToString(CommonHelper.DateFormat)
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="PlanMonthly.SPId" class="col-lg-3 control-label"></label>
                        <div class="col-lg-9">
                            @Html.DisplayFor(model => model.PlanMonthly.SPId)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-3 control-label">Plan of</label>
                        <div class="col-lg-9">
                            @Html.DisplayFor(model => model.PlanMonthly.Planofmonth)
                        </div>
                    </di*@
                    <div class="col-sm-6">
                        <h4><span>Trans #: <strong class="text-navy"> @Model.GriegeRequisition.TransactionNo</strong></span></h4>
                        <span><strong>Trans Date: </strong> @Model.GriegeRequisition.TransactionDate.ToLongDateString()</span><br />
                        <span><strong>Department: </strong> @Model.DepartmentName</span><br />
                        <span><strong>Sub Department: </strong> @Model.SubDepartmentName</span><br />
                     
                    </div>
                    



                    <!----------------------------------------------------->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="ibox float-e-margins">
                                <div class="">
                                    <table id="tblDetail" width="100%" class="table table-bordered table-striped dataTables-example">
                                        <thead>
                                            <tr>
                                                
                                                <th style="width:8%;" class="searchHeader ">SP #</th>
                                                <th style="width:23%;" class="searchHeader">Greige Quality</th>
                                                <th style="width:8%;" class="searchHeader">UOM</th>
                                                <th style="width:10%;" class="searchHeader">Available Stock</th>
                                                <th style="width:14%;" class="searchHeader">Reserve Available Qty</th>
                                                <th style="width:8%;" class="searchHeader">Qty</th>
                                                <th style="width:10%;" class="searchHeader">Warp Bag</th>
                                                <th style="width:10%;" class="searchHeader">Weft Bag</th>
                                               
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @if (Model.GRGriegeRequisitionDetailsList != null)
                                            {
                                                @foreach (var item in Model.GRGriegeRequisitionDetailsList)
                                                {
                                                    <tr>
                                                        <td class="text-center">                                          
                                                            @Html.DisplayFor(modelItem => item.SPNo)
                                                        </td>
                                                        <td>
                                                            @item.GRQuality
                                                        </td>
                                                        <td class="text-center">
                                                            @item.UOMName
                                                        </td>
                                                        <td class="text-right">
                                                            @item.AvailableStock
                                                        </td>
                                                        <td class="text-center">
                                                            @item.ReserveAvailableQty
                                                        </td>
                                                        <td class="text-right">
                                                            @item.Qty
                                                        </td>
                                                        <td class="text-right">
                                                            @item.WarpBag
                                                        </td>
                                                        <td class="text-right">
                                                            @item.WeftBag
                                                        </td>
                                                       
                                                    </tr>
                                                }
                                            }
                                        </tbody>


                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!----------------------------------------------------->
                </form>
            </div>
        </div>
    </div>
</div>
