@model IEnumerable<Numbers.Entity.Models.InvStoreIssue>
@{
    ViewData["Title"] = "Un-Approve Store Issue";
    ViewData["CurrentPage"] = "Un-Approve";

}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <table class="table table-bordered table-striped dataTables-example">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.IssueNo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.IssueDate)
                            </th>
                            <th>
                                <b>Ware House</b>
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Status)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueNo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.IssueDate)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.WareHouse.ConfigValue)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @if (item.Status == "Approved")
                                    {
                                        <span title="Click to View Voucher">
                                            <a asp-action="Details" asp-controller="StoreIssue" class="btn btn-sm btn-info m-t-n-xs" asp-route-id="@item.Id"><i class="fa fa-search" aria-hidden="true"></i></a>
                                        </span>
                                        <span title="Click to Un-Approve">
                                            <a asp-action="UnApproveStoreIssue" asp-controller="StoreIssue" class="btn btn-sm btn-danger m-t-n-xs" asp-route-id="@item.Id" onclick="return confirm('Are you sure you want to Un-Approve Store Issue Note?')"><i class="fa fa-thumbs-down"></i></a>
                                        </span>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

