@model ARInvoiceViewModel
@{
    Layout = null;
}
<style>
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 0%;
        top: 39px;
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }
</style>
@if (ViewBag.InvoiceItems == null)
{
<div id="sale-invoic" class="border border-danger">
    <div class="ibox-title">
        <h5 class="font-bold">Add Invoice Items</h5>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="col-sm-6 col-md-6 col-lg-6 tooltest0" id="tooltest0">
                    <input asp-for="InvoiceItemId" type="hidden" name="InvoiceItemId" id=@string.Format("{0}{1}","InvoiceItemId",ViewBag.Counter) />
                    <label asp-for="ServiceAccountId">GL Account</label>
                    <select asp-for="ServiceAccountId" name="ServiceAccountId" id='@string.Format("{0}{1}", "ServiceAccountId", ViewBag.Counter)' onchange="getItemDetails(this.id)" class="form-control select-item" data-validation="required" data-validation-error-msg="Item is required" data-validation-error-msg-container=@string.Format("#_item{0}",ViewBag.Counter)>
                        @*<option disabled selected>Select an item...</option>*@
                    </select>
                    <p id=@string.Format("_item{0}",ViewBag.Counter)></p>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-6">
                    <label asp-for="Remarks">Description</label>
                    <input asp-for="Remarks" name="Remarks" id=@string.Format("{0}{1}", "Remarks", ViewBag.Counter) class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="col-sm-3 col-md-6 col-lg-2">
                    <label asp-for="Total_"></label>
                    <input asp-for="Total_" name="Total_" id=@string.Format("{0}{1}", "Total_", ViewBag.Counter) class="form-control text-right" onchange="calculateLineTotal(@ViewBag.Counter);" type="number" step=".01" />
                </div>
                <div class="col-sm-3 col-md-6 col-lg-2">
                    <label asp-for="DiscountPercentage">Discount %</label>
                    <input asp-for="DiscountPercentage" name="DiscountPercentage" id=@string.Format("{0}{1}", "DiscountPercentage_", ViewBag.Counter) class="form-control text-right" type="number" step=".01" onchange="calculateLineTotal(@ViewBag.Counter);" />
                </div>
                <div class="col-sm-3 col-md-6 col-lg-2">
                    <label asp-for="DiscountAmount">Discount Amount</label>
                    <input asp-for="DiscountAmount" name="DiscountAmount" id=@string.Format("{0}{1}", "DiscountAmount_", ViewBag.Counter) readonly class="form-control text-right" type="number" tabIndex="-1" />
                </div>
                <div class="col-sm-3 col-md-6 col-lg-2">
                    <label asp-for="TaxSlab"></label>
                    <select asp-for="TaxSlab" asp-items="@(new SelectList(Model.TaxList,"Id","Name"))" name="TaxSlab" id='@string.Format("{0}{1}", "TaxSlab_", ViewBag.Counter)' onchange="calculateTax(this.id)" class="form-control" data-validation="required" data-validation-error-msg="Tax Slab is required" data-validation-error-msg-container=@string.Format("#_taxSlab{0}",ViewBag.Counter)>
                        <option selected disabled>
                            Select...
                        </option>
                    </select>
                    <p id=@string.Format("_taxSlab{0}",ViewBag.Counter)></p>
                </div>
                <div class="col-sm-3 col-md-6 col-lg-1" hidden>
                    <label asp-for="SalesTaxPercentage"></label>
                    <input asp-for="SalesTaxPercentage" name="SalesTaxPercentage" id=@string.Format("{0}{1}", "SalesTaxPercentage_", ViewBag.Counter) class="form-control text-right calculate-total" value="0" type="number" />
                </div>
                <div class="col-sm-3 col-md-6 col-lg-2">
                    <label asp-for="SalesTaxAmount">Tax Amount</label>
                    <input asp-for="SalesTaxAmount" name="SalesTaxAmount" id=@string.Format("{0}{1}", "SalesTaxAmount_", ViewBag.Counter) readonly class="form-control text-right calculate-total" tabIndex="-1" />
                </div>
                <div class="col-sm-3 col-md-6 col-lg-2">
                    <label asp-for="LineTotal"></label>
                    <input asp-for="LineTotal" name="LineTotal" id=@string.Format("{0}{1}", "LineTotal_", ViewBag.Counter) readonly class="form-control text-right calculate-total" tabIndex="-1" />
                </div>
            </div>
        </div>

    </div>
</div>}
<p id="p"></p>
<div class="text-right mb-3">
    <a id="add-invoice-item" class="btn btn-success add-invoice-item"><i class="fa fa-plus"></i></a>
</div>



<input id="counter" type="hidden" value="@ViewBag.Counter" />
@*<script src="https://code.jquery.com/jquery-3.4.1.js"></script>*@
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-form-validator/jquery.form-validator.min.js"></script>
<script src="~/js/INV/customSelect2.js"></script>
<script src="~/js/AR/serviceInvoice.js"></script>
<script>
$(document).ready(function () {
        var items = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.InvoiceItems));
        var counter = 1;
        if (items != null) {
            if (items.length == 0) {
                counter = counter;
            } else if (items.length != 0) {
                counter = items.length + 1;
            }
        }
        $('#add-invoice-item').on('click', function () {
            $.post("/AR/ServiceInvoice/PartialInvoiceItems", { counter: counter }).done(function (data) {
                $("#p").append(data);
                counter++;
            });
    });
    lockOutInputs(@ViewBag.Counter);
      // bind service Account select2 
    var serviceAccountId = $('#ServiceAccountId' + @ViewBag.Counter+'');
     bindSelect2(serviceAccountId, '/GL/Api/GetAccounts', '/GL/Api/GetAccount?id=', '@ViewBag.ItemId');

    @*$('#ServiceAccountId' + @ViewBag.Counter+'').select2({
            width: "100%", //self.width,
            placeholder: 'Search for an Account',
            templateResult: formatOption,
            ajax: ({
                url: '/GL/Api/GetAccounts',
                dataType: 'json',
                delay: 250,
                processResults: function (data, params) {
                    return {
                        results: data
                    };
                },
                cache: true
            })
        });*@
        //function formatOption(option) {
        //    var $option = $(
        //        '<div><strong>' + option.code + '</strong></div><div>' + option.name + '</div>'
        //    );
        //    return $option;
        //}
    });
</script>
