@model IEnumerable<ARDeliveryChallan>
@{
    ViewData["Title"] = "List of Delivery Challans";
    ViewData["CurrentPage"] = "Delivery Challan";

    var companyName = Context.Session.GetString("CompanyName");
    var companyId = Context.Session.GetInt32("CompanyId").Value;
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div @*class="ibox-title"*@>
                <div class="ibox-content">
                    <div class="text-center">
                        <a class="btn btn-primary pull-left m-t-n-xs" asp-controller="DeliveryChallan" asp-action="Create"> <strong> Create New </strong> </a>
                    </div>
                    <br />
                    <br />
                    <div class="table-responsive">
                        <table style="width:100%;" id="Table" class="table table-bordered table-striped dataTables-example">
                            <thead>
                                <tr>
                                    <th class="searchHeader" style="width: 50px">D.C.#</th>
                                    <th class="searchHeader" style="width: 183px">Customer</th>
                                    <th class="searchHeader" style="width: 90px">D.C. Date</th>
                                    <th class="searchHeader" style="width: 183px">Trans. Company</th>
                                    <th class="searchHeader" style="width: 50px">Builty#</th>
                                    <th style="width:150px">Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Trigger the modal with a button -->
<div class="modal fade" id="builtyUpdateModal" role="dialog" style="margin-left:0px">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Builty Number</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label>DC Number</label>
                            <input id="dcNo" onkeypress="return isCharacter()" onpaste="return false;" ondrop="return false;" type="text" data-validation="required" data-validation-error-msg="DC number is required" disabled autocomplete="off" class="form-control" />
                            <p id="dcNumber"></p>
                        </div>
                        <div class="col-md-3">
                            <label>Builty Date</label>
                            <div class="input-group date">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                <input id="builtyDate" data-validation="required" data-validation-error-msg="Date is required" data-validation-error-msg-container="#builtyDate" class="form-control custom-date-picker" type="text" value="@(CommonHelper.CurrentDate)" disabled/>
                            </div>
                            <p id="builtyDate"></p>
                        </div>

                        <div class="col-md-6">
                            <input type="hidden" id="hdndcId" />
                            <label>Builty Number</label>
                            <input id="builtyNumber" autofocus type="text" data-validation="required" data-validation-error-msg="Builty number is required" autocomplete="off" class="form-control" />
                            <p id="builtyNumber"></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="builtyNumberUpdatebtn" onclick="saveBuiltyNumber()" class="btn btn-primary" data-dismiss="modal">Submit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section customJS{
    <script>
        $(document).ready(function () {
            var table1 = $("#Table").dataTable({
                lengthMenu: [
                    [50, 100, 150, -1],
                    [50, 100, 150, 'All'],
                ],
                "processing": true,
                "serverSide": true,
                "filter": false,
                "searching": true,
                "order": [[0, "desc"]],
                dom: "Blrtip",
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                "ajax": {
                    "url": "/AR/DeliveryChallan/GetDC",
                    "type": "POST",
                    "datatype": "json"
                },
                "language": {
                    "decimal": "",
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                "columnDefs": [{

                    "targets": '_all',
                    "defaultContent": "-"
                },
                    //{ "orderable": false, "targets": [5] },
                    //{
                    //    targets: [4],
                    //    render: $.fn.dataTable.render.number(',', '.', 2, '')
                    //}


                ],

                "columns": [
                    { "data": "arDeliveryChallans.dcNo", "name": "DCNo", className: "text-center" },
                    { "data": "customerName", "name": "CustomerName", className: "text-left" },
                    { "data": "dDate", "name": "dcDate", className: "text-center" },
                    { "data": "transportCompany", "name": "TransportCompany", className: "text-left" },
                    { "data": "arDeliveryChallans.builtyNo", "name": "BuiltyNo", className: "text-right" },
                    {
                        "data": "arDeliveryChallans",
                        "render": function (data, row) {
                            if (data.status != "Approved") {
                                if (data.approve == true) {
                                    return "<a href='/AR/DeliveryChallan/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AR/DeliveryChallan/ApproveDeliveryChallan?id=" + data.id + "'  class='btn btn-sm btn-success m-t-n-xs' > <i class='fa fa-thumbs-up' title='Approve'></i></a> <a onclick='openReport(" + data.id + ")' class='btn btn-sm btn-primary btn-lg m-t-n-xs' > <i class='fas fa-print' title='Print Report'></i></a >";
                                } else {
                                    return "<a href='/AR/DeliveryChallan/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a onclick='openReport(" + data.id + ")' class='btn btn-sm btn-primary btn-lg m-t-n-xs' > <i class='fas fa-print' title='Print Report'></i></a >";
                                }
                            }
                            else if (data.builtyNo == null) {
                                return '<a onclick="getBuiltyUpdateForm(' + data.id + ', ' + data.dcNo + ')" class="btn btn-sm btn-warning btn-lg m-t-n-xs" ><i class="fa fa-plus" title="Update"></i></a> <a href="/AR/DeliveryChallan/Details?id=' + data.id + '" class="btn btn-sm btn-info m-t-n-xs"><i class="fa fa-search" title="View"></i></a>  <a onclick="openReport(' + data.id + ')" class="btn btn-sm btn-primary btn-lg m-t-n-xs" > <i class="fas fa-print" title="Print Report"></i></a > <a href="@ViewBag.ReportPath' + data.id + '" target="_blank" class="btn btn-sm btn-primary btn-lg m-t-n-xs" > OGP <i class="fas fa-print" title="Print Voucher"></i></a >'
                            }
                            else {
                                return '<a href="/AR/DeliveryChallan/Details?id=' + data.id + '" class="btn btn-sm btn-info m-t-n-xs"><i class="fa fa-search" title="View"></i></a>  <a onclick="openReport(' + data.id + ')" class="btn btn-sm btn-primary btn-lg m-t-n-xs" > <i class="fas fa-print" title="Print Report"></i></a > <a href="@ViewBag.ReportPath' + data.id + '" target="_blank" class="btn btn-sm btn-primary btn-lg m-t-n-xs" > OGP <i class="fas fa-print" title="Print Report"></i></a >';
                            }
                        }
                    }
                ],
            })
            $('#Table thead th').each(function () {
                if ($(this).hasClass("searchHeader")) {
                    var title = $(this).text();
                    $(this).html('<input type="text" style ="color: black;width: inherit;" placeholder="' + title + '" />');
                }
            });
            table1.api().columns().every(function () {
                var that = this;
                var searchBox = $('input', this.header());
                searchBox.on('keyup change clear', function () {
                    that.search(this.value).draw()
                })
                searchBox.on('click', function (e) {
                    e.stopPropagation();
                });
            });
            $('.modal').on('shown.bs.modal', function () {
                $(this).find('[autofocus]').focus();
            });

        });
        function isNumberKey(evt) {
            //evt = (evt) ? evt : window.event;
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode == 8 || charCode == 37) {
                return true;
            } else if (charCode == 46 && $(this).val().indexOf('+') != -1) {
                return false;
            } else if (charCode > 31 && charCode != 46 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        function openReport(id) {
            generateApArReport(id, "DeliveryChallan", "@companyName",@companyId);
        }
        function openReport2(id) {
            generateApArReport(id, "OGPBasePrint", "@companyName",@companyId);
        }
        function getBuiltyUpdateForm(id, dcNo) {
            $('#hdndcId').val(id);
            $('#dcNo').val(dcNo);
            $('#builtyUpdateModal').modal('show');
        }
        function saveBuiltyNumber() {
            let dcId = $('#hdndcId').val();
            let builtyNumber = $('#builtyNumber').val();
            let builtyDate = $('#builtyDate').val();
            if (parseInt(dcId) == 0) {
                swal('', 'Please enter bulity number', 'Error');
                return;
            } else {
                $.ajax({
                    url: '/AR/DeliveryChallan/UpdateBuiltyNumber',
                    type: 'POST',
                    method: 'POST',
                    data: { id: dcId, builtyNumber: builtyNumber, builtyDate: builtyDate},
                    success: function (response) {
                        debugger;
                        $('#Table').DataTable().draw();
                    },
                    fail: function (response) {
                        // console.log('message from fail...', response.responseText);
                    }
                });
            }
        }

    </script>
}