@model GRWeavingContract

@{
    ViewData["Title"] = "Create Weaving Contract";
    var companyName = Context.Session.GetString("CompanyName");
    var companyId = Context.Session.GetInt32("CompanyId").Value;
}

<style>
    .form-group > .select2-container {
        width: 100% !important;
    }
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type=number] {
        -moz-appearance: textfield;
    }

</style>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-content ibox-content-1">
                <form class="" method="post" onsubmit="return check(this); ">
                    <div class="row">
                        <input hidden asp-for="Id" />
                        <div class="col-lg-2 col-sm-4">
                            <div class="form-group">
                                <label class="col-form-label">Trans#</label>
                                @if (Model.TransactionNo != 0)
                                {
                                <input readonly class="form-control" id="Code" data-validation="required" asp-for="TransactionNo" autocomplete="off" tabindex="-1" />
                                }
                                else
                                {
                                <input readonly class="form-control" id="Code" data-validation="required" value="" autocomplete="off" tabindex="-1" />}
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <div class="form-group">
                                <label>Trans Date</label>
                                <div class="input-group" readonly>
                                    <span class="input-group-addon" readonly><i class="fa fa-calendar"></i></span>
                                    <input tabindex="-1" id="TransactionDate" class="form-control" asp-for="TransactionDate" type="text" readonly value="@CommonHelper.CurrentDate" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="col-form-label">Weaver<i style="color: #a94442;">*</i></label>
                                <select autofocus asp-for="VendorId" class="chosen-select form-control" id="VendorId" asp-items="@ViewBag.Vendors" required>
                                    <option value="0">Please select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label class="col-form-label">Address</label>
                                <input readonly type="text"  id="address"  tabindex="-1"  class="form-control text-right" autocomplete="off" />
                            </div>
                        </div>
                        <div class="col-lg-2 col-sm-4">
                            <div class="form-group">
                                <label>Delivery Date</label>
                                <div class="input-group" readonly>
                                    <span class="input-group-addon" readonly><i class="fa fa-calendar"></i></span>
                                    <input id="DeliveryDate" class="form-control custom-date-picker" asp-for="DeliveryDate" type="text" value="@CommonHelper.CurrentDate" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="form-group">
                                <label class="col-form-label">Greige Req. #<i style="color: #a94442;">*</i></label>
                                <select asp-for="GRRequisitionId"  class="chosen-select form-control" id="GreigeRequisitionId" asp-items="@ViewBag.GRRequisitionNo" required>
                                    <option value="0" disabled>Please select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="col-form-label">Greige Quality<i style="color: #a94442;">*</i></label>
                                <select asp-for="GreigeQualityId" name="GreigeQualityId" class="chosen-select form-control" asp-items="@ViewBag.GreigeQuality" id="GreigeQualityId" required>
                                    <option value="0">Please select</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="form-group">
                                <label class="col-form-label">Greige Quality On Loom<i style="color: #a94442;">*</i></label>
                                <select asp-for="GreigeQualityLoomId" class="chosen-select form-control" id="GreigeQualityLoomId" asp-items="@ViewBag.GreigeQualityOnLoom" required>
                                    <option value="0">Please select</option>
                                </select>
                            </div>
                        </div>

                    </div>
 
                    <div class="row">
                        <div class="ibox-title">
                            <h2 style="font-weight:bold;">Basic Information</h2>
                            @*<h2 style="font-weight:bold;">Basic Information</h2>*@
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label ">Looms #</label>

                                <input asp-for="NoOfLooms" id="NoOfLooms" min="0" name="NoOfLooms" class="form-control text-right" />

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="ContractQty" class="control-label  ">Contract Qty<i style="color: #a94442;">*</i></label>

                                <input oninput="this.value = !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : 0"  type="number" asp-for="ContractQty" min="0" id="ContractQty" onchange=" check(); calculateAllValues();" step="1" name="ContractQty" class="form-control text-right" />

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label  ">Bal. Req. Qty</label>
                                <input type="number" readonly  value="@ViewBag.Quantity" tabindex="-1" min="0" id="BalanceContractQty" class="form-control text-right" />
                                <input hidden value="@ViewBag.hQuantity" id="hQuantity" />
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label ">Width</label>

                                <input readonly tabindex="-1" asp-for="Width" id="Width" class="form-control  text-right" />

                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label  ">Picks</label>

                                <input readonly tabindex="-1" asp-for="Picks" id="Picks" class="form-control text-right" />

                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label ">Rate/Pick<i style="color: #a94442;">*</i></label>

                                <input asp-for="RatePerPicks" onkeyup="ConverDecimal($(this))" class="DesignRun form-control text-right" type="text" onchange="calculateAllValues();" id="RatePerPicks" />

                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label class="control-label  ">Reed</label>

                                <input readonly tabindex="-1" asp-for="Reed" id="Reed" class="form-control text-right" />

                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label asp-for="AdditionalReed" class="control-label  "></label>

                                <input type="number" asp-for="AdditionalReed"  onchange="calculateAllValues();" min="0" id="AdditionalReed" class="form-control text-right" />

                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label ">Sale Tax %</label>

                                @*<input type="number" tabindex="-1" readonly asp-for="SaleTax" min="0" id="SaleTax" onchange="calculateAllValues()" value="17" class="form-control text-right" />*@
                                <select asp-for="SaleTax" onchange="calculateAllValues()" class="chosen-select form-control" id="SaleTax" asp-items="@ViewBag.SalesTaxLOV">
                                    <option value="0" disabled>Please select</option>
                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="ibox-title">
                            <h2 style="font-weight:bold;">Warp Information</h2>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label  ">Warp</label>
                               
                                    <input readonly  tabindex="-1"  asp-for="Warp" id="Warp" name="Warp" class="form-control" data-validation="required" />
                               
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="WarpCount" class="control-label  ">Warp Count</label>
                               
                                    <input readonly  tabindex="-1"  asp-for="WarpCount" id="WarpCount" name="WarpCount" class="form-control" />
                              
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label  ">Warp Weight(Pound)</label>
                                
                                    <input readonly  tabindex="-1"  asp-for="WarpWeightPerMeter" id="WarpWeightPerMeter" class="form-control" />
                               
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label  ">Total Warp Bags</label>
                                 
                                    <input asp-for="TotalWarpBags" readonly  tabindex="-1"  id="TotalWarpBags" class="form-control" />
                               
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label  ">Warp Rate/Pound<i style="color: #a94442;">*</i></label>
                                
                                    <input type="number" asp-for="WarpRatePound" min="0"  onchange="calculateAllValues()" id="WarpRatePound" class="form-control" />
                                
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="ibox-title">
                            <h2 style="font-weight:bold;">Weft Information</h2>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label ">Weft</label>
                               
                                    <input readonly  tabindex="-1"  asp-for="Weft" id="Weft" name="Weft" class="form-control" data-validation="required" />
                                
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label asp-for="WeftCount" class="control-label ">Weft Count</label>
                               
                                    <input readonly  tabindex="-1"  asp-for="WeftCount" id="WeftCount" name="WeftCount" class="form-control" />
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label ">Weft Weight(Pound)</label>
                             
                                    <input readonly  tabindex="-1"  asp-for="WeftWeightPerMeter" id="WeftWeightPerMeter" class="form-control" />
                                
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label  ">Total Weft Bags</label>
                                
                                    <input asp-for="TotalWeftBags" readonly  tabindex="-1"  id="TotalWeftBags" class="form-control" />
                               
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label  ">Weft Rate/Pound<i style="color: #a94442;">*</i></label>
                                
                                    <input type="number" asp-for="WeftRatePound" min="0" onchange="calculateAllValues()" id="WeftRatePound" class="form-control" />
                                
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="ibox-title">
                            <h2 style="font-weight:bold;">Amounts</h2>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label  ">Rate Of Conversion Exc Tax / 40 mtr</label>
                                
                                    <input readonly  tabindex="-1"  asp-for="RateOfConversionExcTax" id="RateOfConversionExcTax" name="RateOfConversionExcTax" class="form-control" data-validation="required" />
                               
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label asp-for="SaleTaxAmount" class="control-label  ">Sale Tax Amount / 40 mtr</label>
                                
                                    <input readonly  tabindex="-1"  asp-for="SaleTaxAmount" id="SaleTaxAmount" name="SaleTaxAmount" class="form-control" />
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label  ">Rate Of Conversion Inc Tax / 40 mtr</label>
                              
                                    <input readonly  tabindex="-1"  asp-for="RateOfConversionIncTax" id="RateOfConversionIncTax" class="form-control" />
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label ">Price Of Yarn / 40 mtr </label>
                               
                                    <input readonly  tabindex="-1"  asp-for="PriceOfYarn" id="PriceOfYarn" class="form-control" />
                               
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label ">Value Of Greige / 40 mtr </label>
                                
                                    <input readonly  tabindex="-1"  asp-for="ValueOfGreige" id="ValueOfGreige" class="form-control" />
                                
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label ">Total Amount</label>
                                
                                    <input readonly  tabindex="-1"  asp-for="TotalContractAmount" id="TotalContractAmount" class="form-control" />
                               
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-lg-2">
                            <br />
                            <a asp-controller="Contract" asp-action="Index" class="btn btn-white" style="">List</a>
                            <button class="btn btn-primary" id="btnSave" onclick="return Validation()" asp-controller="Contract" asp-action="Create">Save</button>
                            <input type="hidden" id="SaveBtnFocus" value="OFF" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section customJS{

    <script>
        $(document).ready(function () {
            $("#SaleTax").select2();
            $("#VendorId").select2();
            $("#GreigeQualityId").select2();
            $("#GreigeQualityLoomId").select2();
            $("#GreigeRequisitionId").select2();
            /*$("#SaleTax").select2();*/
            $("#btnSave").focus(function () {
                $("#SaveBtnFocus").val("ON");
            });
            $("#btnSave").blur(function () {
                $("#SaveBtnFocus").val('OFF');
            });
            getVendorAddress();

        });
        function check() {
            debugger
            var contractQty = Number($("#ContractQty").val());
            var bContractQty = Number($("#hQuantity").val());
            if (contractQty > bContractQty) {
                swal({
                    icon: 'warning',
                    text: "Contract Quantity must be less than Balance Quantity!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#ContractQty').focus();
                });
                $("#ContractQty").val(0);
                $("#BalanceContractQty").val(bContractQty)
                return false;
            }
            $("#BalanceContractQty").val(bContractQty - contractQty)
        }
        function ConverDecimal(value) {
            debugger
            var val = value.val();
            if (isNaN(val)) {
                val = val.replace(/[^0-9\.]/g, '');
                if (val.split('.').length > 2)
                    val = val.replace(/\.+$/, "");
            }

            value.val(getPositive(val));
        };
        function getPositive(number) {
            // if number is less than zero multiply with -1, otherwise returns as it is
            return number < 0 ? number * -1 : number;
        }
        $('#GreigeRequisitionId').on('change', function () {
            debugger
            var Id = $('#GreigeRequisitionId').val();


            $.ajax({
                method: "GET",
                url: "/Greige/Contract/GetQuality",
                data: { Id: Id }
            })
                .done(function (data) {
                    
                    debugger;
                    $('#GreigeQualityId').find('option').remove();
                    $('#GreigeQualityId').append($('<option>', {
                        value: 0,
                        text: "Please Select..."
                    }));
                    //$('#GreigeQualityId').append($('<option>', {
                    //    value: data.id,
                    //    text: data.text
                    //}));
                    $.each(data, function (i, item) {
                        debugger;
                        $('#GreigeQualityId').append($('<option>', {
                            value: item.id,
                            text: item.text
                        }));
                    });
                    //$('#GreigeQualityLoomId').find('option').remove();
                    //$('#GreigeQualityLoomId').append($('<option>', {
                    //    value: 0,
                    //    text: "Please Select..."
                    //}));
                    //$('#GreigeQualityId').append($('<option>', {
                    //    value: data.id,
                    //    text: data.text
                    //}));
                    //$.each(data, function (i, item) {
                    //    debugger;
                    //    $('#GreigeQualityLoomId').append($('<option>', {
                    //        value: item.id,
                    //        text: item.text
                    //    }));
                    //});
                });
        })

        $('#GreigeQualityId').on('change', function () {
            debugger
            var QualityId = $('#GreigeQualityId').val();
            var ReqId = $('#GreigeRequisitionId').val();
            $('#ContractQty').val(0);
            if (QualityId != 0) {
                $.ajax({
                    method: "GET",
                    url: "/Greige/Contract/GetQty",
                    data: { QId: QualityId, ReqId: ReqId }
                })
                    .done(function (data) {
                        debugger;
                        if (data != null) {
                            $('#BalanceContractQty').val(data.qty);
                            $("#hQuantity").val(data.qty)
                        }
                        //$('#ContractQty').val(data.qty);
                    });
            }
            $('#BalanceContractQty').val(0);
            $("#hQuantity").val(0);
        })

        function Validation() {
            debugger
            var SaveBtnFocus = $("#SaveBtnFocus").val();
            if (SaveBtnFocus == "OFF") {
                return false;
            }
            if ($('#VendorId').val() == 0 || $('#VendorId').val() =="") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Vendor..!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#VendorId').focus();
                });
                return false;
            }
            else if ($('#GreigeRequisitionId').find(":selected").val() == 0 || $('#GreigeRequisitionId').find(":selected").val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Select Greige Requisition #..!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#GreigeRequisitionId').focus();
                });
                return false;
            }
            else if ($('#GreigeQualityId').val() == 0 || $('#GreigeQualityId').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Greige Quality..!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#GreigeQualityId').focus();
                });
                return false;
            }
            else if ($('#GreigeQualityLoomId').val() == 0 || $('#GreigeQualityLoomId').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Greige Quality Loom..!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#GreigeQualityLoomId').focus();
                });
                return false;
            }
           else if ($('#Reed').val() == 0 || $('#Reed').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Reed!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#Reed').focus();
                });
                return false;
            }
            else if ($('#ContractQty').val() == 0 || $('#ContractQty').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Contract Qty!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#ContractQty').focus();
                });
                return false;
            }
            else if ($('#Pick').val() == 0 || $('#Pick').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Pick!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#Pick').focus();
                });
                return false;
            }
            else if ($('#Warp').val() == 0 || $('#Warp').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Warp!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#Warp').focus();
                });
                return false;
            }
            else if ($('#Weft').val() == 0 || $('#Weft').val() == "") {
                swal({
                    icon: 'warning',
                    text: "Please Enter Weft!",
                    closeModal: false
                }).then(function () {
                    swal.close();
                    $('#Weft').focus();
                });
                return false;
            }

            return true;
        }

        //On change Customer
        $('#VendorId').on('change', function () {
            debugger
            var vendorId = $('#VendorId').val();
            $.ajax({
                type: "GET",
                url: "/AP/Api/GetSupplier",
                data: { id: vendorId }
            }).done(function (data) {
                debugger
                if (data != null) {
                    $('#address').val(data.address);
                    
                    return false;
                }
            });
       
        })

        function getVendorAddress(){

            var vendorId = $('#VendorId').val();
            $.ajax({
                type: "GET",
                url: "/AP/Api/GetSupplier",
                data: { id: vendorId }
            }).done(function (data) {
                debugger
                if (data != null) {
                    $('#address').val(data.address);

                    return false;
                }
            });
        }

        //On change Greige Quality on Loom
        $('#GreigeQualityLoomId').on('change', function () {
            debugger
            var qualityId = $('#GreigeQualityLoomId').val();
            $.ajax({
                type: "GET",
                url: "/Greige/Api/GetGreigeConstruction",
                data: { qualityId: qualityId }
            }).done(function (data) {
                debugger
                if (data.grConstruction != null) {
                    debugger;
                    $('#Picks').val(data.grConstruction.pick);
                    $('#Reed').val(data.grConstruction.reed);
                    $('#Width').val(data.width);
                    $('#Weft').val(data.grConstruction.weft.name);
                    $('#Warp').val(data.grConstruction.warp.name);
                    $('#WarpCount').val(data.grConstruction.warp.name.substring(0, data.grConstruction.warp.name.indexOf("-")));
                    $('#WeftCount').val(data.grConstruction.weft.name.substring(0, data.grConstruction.weft.name.indexOf("-")));

                    weftWeight();
                    warpWeight();
                    totalWarpBag();
                    totalWeftBag();
                    
                }
            });

           

        })

        function warpWeight() {
            debugger;
            var GreigeQualityLoomId = $("#GreigeQualityLoomId").find(":selected").val();
            if (GreigeQualityLoomId == 0) { return false; }
                var reed = Number($('#Reed').val());
                var width = Number($('#Width').val());
                var WarpCount = Number($('#WarpCount').val());
                var WeftWeightPerMeter = Number($('#WeftWeightPerMeter').val());
                var AdditionalReed = Number($('#AdditionalReed').val());
                // var totalWarpWeight = Number((reed * width * WeftWeightPerMeter) / WarpCount / 20 / 40).toFixed(2);;
                var totalWarpWeight = (((reed * width) + AdditionalReed) * 1.0936) / WarpCount / 20 / 40;
                var x = parseFloat(totalWarpWeight * 40).toFixed(4);
                $('#WarpWeightPerMeter').val(x);
        }

        function weftWeight() {
            debugger;
            var pick = Number($('#Picks').val());
            var width = Number($('#Width').val());
            var WeftCount = Number($('#WeftCount').val());
            var totalWeftWeight = (pick * width * 1.0936) / WeftCount / 20 / 40;
            $('#WeftWeightPerMeter').val(Number(totalWeftWeight * 40).toFixed(4));
            
        }

        function calculateAllValues() {

            warpWeight();

            Amount1();
            var taxId = $("#SaleTax").find(":selected").val();
            var amount = Number($("#RateOfConversionExcTax").val());
           //calculateSaleTax();

            GetTaxCalulation(taxId, amount);
           totalWarpBag();
           totalWeftBag();
            Amount2();
            Amount3();
            Amount4();
            Amount5();

        } 

        function Amount1() {
            debugger
            //var weaveRate = Number(0.47);
            var weaveRate = Number($('#RatePerPicks').val());
            var pick = Number($('#Picks').val());
            var meterToInConversion = 40;
            var amount = Number(weaveRate * pick * meterToInConversion).toFixed(4);
            $('#RateOfConversionExcTax').val(amount);
        }

        function calculateSaleTax() {
            debugger;
            var saleTax = Number($('#SaleTax').val());
            var rateOfConversionExcTax = Number($('#RateOfConversionExcTax').val());
            var saleTaxAmount = Number(((rateOfConversionExcTax / 100) * saleTax)).toFixed(4);
            $('#SaleTaxAmount').val(saleTaxAmount);
        }
        function totalWarpBag() {
            debugger
            var GreigeQualityLoomId = $("#GreigeQualityLoomId").find(":selected").val();
            if (GreigeQualityLoomId == 0) { return false; }
            var reed = Number($('#Reed').val());
            var width = Number($('#Width').val());
            var WarpCount = Number($('#WarpCount').val());
            var WeftWeightPerMeter = Number($('#WeftWeightPerMeter').val());
            // var totalWarpWeight = Number((reed * width * WeftWeightPerMeter) / WarpCount / 20 / 40).toFixed(2);;
            var totalWarpWeight = Number((reed * width * 1.0936) / WarpCount / 20 / 40).toFixed(4);

            var contractQty = Number($('#ContractQty').val());
            var warpWeightPerMeter = Number($('#WarpWeightPerMeter').val());
            //var amount = Number((contractQty * warpWeightPerMeter) / 100).toFixed(4);
            var amount = Number((contractQty * totalWarpWeight) / 100).toFixed(4);

            $('#TotalWarpBags').val(amount);
        }
        function totalWeftBag() {
            var GreigeQualityLoomId = $("#GreigeQualityLoomId").find(":selected").val();
            if (GreigeQualityLoomId == 0) { return false; }
            var pick = Number($('#Picks').val());
            var width = Number($('#Width').val());
            var WeftCount = Number($('#WeftCount').val());
            var totalWeftWeight = Number((pick * width * 1.0936) / WeftCount / 20 / 40).toFixed(4);;


            var contractQty = Number($('#ContractQty').val());
            var weftWeightPerMeter = Number($('#WeftWeightPerMeter').val());
            //var amount = Number((contractQty * weftWeightPerMeter) / 100).toFixed(4);
            var amount = Number((contractQty * totalWeftWeight) / 100).toFixed(4);
            $('#TotalWeftBags').val(amount);
        }
        function Amount2() {

            var saleTax = Number($('#SaleTaxAmount').val());
            var rateOfConversionExcTax = Number($('#RateOfConversionExcTax').val());
            var amount = Number(rateOfConversionExcTax + saleTax).toFixed(4);
            $('#RateOfConversionIncTax').val(amount);
        }

        function Amount3() {
            debugger;
            var WarpWeightPerMeter = Number($('#WarpWeightPerMeter').val());
            var WarptRatePound = Number($('#WarpRatePound').val());
            var WeftWeightPerMeter = Number($('#WeftWeightPerMeter').val());
            var WeftRatePound = Number($('#WeftRatePound').val());
            var CostOfYarnWarp = Number(WarpWeightPerMeter * WarptRatePound).toFixed(4);
            var CostOfYarnWeft = Number(WeftWeightPerMeter * WeftRatePound).toFixed(4);
            var costofYarnPerMeter = Number(Number( CostOfYarnWarp) + Number( CostOfYarnWeft)).toFixed(4);
            //var meterToInchConversion = 40;
            //var costOfYarnPerMeter40 = Number(costofYarnPerMeter * meterToInchConversion).toFixed(4);
            //$('#PriceOfYarn').val(costOfYarnPerMeter40);
            $('#PriceOfYarn').val(costofYarnPerMeter);
        }

        function Amount4() {
            debugger
            //var WarpWeightPerMeter = Number($('#WarpWeightPerMeter').val());
            //var WarptRatePound = Number($('#WarpRatePound').val());
            //var WeftWeightPerMeter = Number($('#WeftWeightPerMeter').val());
            //var WeftRatePound = Number($('#WeftRatePound').val());
            //var CostOfYarnWarp = WarpWeightPerMeter * WarptRatePound;
            //var CostOfYarnWeft = WeftWeightPerMeter * WeftRatePound;
            //var costofYarnPerMeter = CostOfYarnWarp + CostOfYarnWeft;
            //var meterToInchConversion = 40;
            //var costOfYarnPerMeter40 = costofYarnPerMeter * meterToInchConversion;
            var costOfYarnPerMeter40 =Number( $('#PriceOfYarn').val());
            var RateOfConversionIncTax =Number( $('#RateOfConversionIncTax').val());
            var valueOfGreige40Meter = Number(costOfYarnPerMeter40 + RateOfConversionIncTax).toFixed(4);
            $('#ValueOfGreige').val(valueOfGreige40Meter);
        }
        function Amount5() {
            debugger;
            var valueOfGreige = Number($('#ValueOfGreige').val());
            var meterToInchConversion = 40;
            var ValuePerMeterGreige = Number(valueOfGreige / meterToInchConversion).toFixed(4)
            var contractQty =Number( $('#ContractQty').val());
            var totalContractValue = Number(ValuePerMeterGreige * contractQty).toFixed(4);
            
            $('#TotalContractAmount').val(totalContractValue);
        }
        function GetTaxCalulation(taxId, amount) {
            debugger
        

            if (taxId == 0) {
                return false;
            }
            $.ajax({
                url: '/GL/Api/CalculateTax',
                data: { taxId: taxId, amount: amount },
                type: 'GET',
                async: false,
            }).done(function (data) {
                debugger
                console.log(data.dSalesTaxAmount);
                $('#SaleTaxAmount').val(data.dSalesTaxAmount);
            });

        }
        
    </script>
}


