@model IEnumerable<Numbers.Entity.Models.ARQuotation>
@{ ViewData["Title"] = "Quotation Index";
    ViewData["CurrentPage"] = "Quotation";


    var companyName = Context.Session.GetString("CompanyName");
    var companyId = Context.Session.GetInt32("CompanyId").Value;
    }
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div @*class="ibox-title"*@>
                @*<h5>List of Customers</h5>*@
                <div class="ibox-content">
                    <div class="text-center">
                        <a class="btn btn-primary pull-left m-t-n-xs" asp-controller="Quotation" asp-action="Create"> <strong> Create New </strong> </a>
                    </div>
                    <br />
                    <br />
                    <table class="table table-bordered table-striped dataTables-example">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Id)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.QuotationDate)
                                </th>
                               
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.CustomerQuotationNo)
                                </th>
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.PaymentMode)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExchRate)
                                </th>
                                
                                <th>
                                    @Html.DisplayNameFor(model => model.ExchDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ShipTo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SalePerson)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.RateDays)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DeliveryDays)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Remarks)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Id)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.QuotationDate)
                                            </td>
                                           
                                            <td>
                                                @Html.DisplayFor(modelItem => item.CustomerQuotationNo)
                                            </td>
                                            
                                            <td>
                                                @Html.DisplayFor(modelItem => item.PaymentMode)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExchRate)
                                            </td>
                                          
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExchDate)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ShipTo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.SalePerson)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.RateDays)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.DeliveryDays)
                                            </td>

                                            <td>
                                                @Html.DisplayFor(modelItem => item.Remarks)
                                            </td>
                                            <td>
                                                <a asp-action="Create" class="btn btn-sm btn-info m-t-n-xs" asp-route-id="@item.Id"><i class="fa fa-edit" title="Edit"></i></a>
                                                @*<a asp-action="QuotationDetail" class="btn btn-sm btn-success m-t-n-xs" asp-route-id="@item.Id"><i class="fa fa-list-alt"></i></a>*@
                                                <a asp-action="DeleteQuotation" class="btn btn-sm btn-danger m-t-n-xs" asp-route-id="@item.Id"><i class="fa fa-trash" title="Delete"></i></a>
                                                <a onclick="generateApArReport(@item.Id,'Quotation','@companyName','@companyId');" class="btn btn-sm btn-primary btn-lg m-t-n-xs"><i class="fas fa-print" title="Print Report"></i></a>
                                            </td>
                                        </tr>
}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
