@model IEnumerable<APPurchase>
@{
    ViewData["Title"] = "List of Purchase Returns";
    ViewData["CurrentPage"] = "Purchase Return";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div @*class="ibox-title"*@>
                <div class="ibox-content">
                    <div class="text-center">
                        <a class="btn btn-primary pull-left m-t-n-xs" asp-controller="PurchaseReturn" asp-action="Create"> <strong> Create New </strong> </a>
                    </div>
                    <br />
                    <br />
                    <table id="Table" style="width:100%;" class="table table-bordered table-striped dataTables-example">
                        <thead>
                            <tr>
                                <th style="width:10%" class="searchHeader"> @Html.DisplayNameFor(model => model.PurchaseNo)</th>
                                <th style="width:10%" class="searchHeader">@Html.DisplayNameFor(model => model.PurchaseDate) </th>
                                <th style="width:30%" class="searchHeader"> @Html.DisplayNameFor(model => model.Supplier.Name)</th>                              
                                <th style="width:10%" class="searchHeader"> @Html.DisplayNameFor(model => model.Total) </th>
                                <th style="width:10%" class="searchHeader"> @Html.DisplayNameFor(model => model.TotalSalesTaxAmount)</th>
                                <th style="width:10%" class="searchHeader"> @Html.DisplayNameFor(model => model.GrandTotal) </th>
                                <th style="width:10%" class="searchHeader"> @Html.DisplayNameFor(model => model.Status) </th>
                                <th style="width:10%" >Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section customJS{
    <script>
        $(document).ready(function () {
            var table1 = $("#Table").DataTable({
                lengthMenu: [
                    [50, 100, 150, -1],
                    [50, 100, 150, 'All'],
                ],
                processing: true,
                serverSide: true,
                paging: true,
                filter: true,
                order: [[0, "desc"]],
                dom: "Blrtip",
                buttons: [
                    'copyHtml5',
                    'excelHtml5',
                    'csvHtml5',
                    'pdfHtml5'
                ],
                ajax: {
                    "url": "/AP/PurchaseReturn/GetList",
                    "type": "POST",
                    "datatype": "json"
                },
                language: {
                    "decimal": "",
                    "emptyTable": "No data available in table",
                    "info": "Showing _START_ to _END_ of _TOTAL_ entries",
                    "infoEmpty": "Showing 0 to 0 of 0 entries",
                    "infoFiltered": "(filtered from _MAX_ total entries)",
                    "infoPostFix": "",
                    "thousands": ",",
                    "lengthMenu": "_MENU_",
                    "loadingRecords": "Loading...",
                    "processing": "Processing...",
                    "search": "Search:",
                    "zeroRecords": "No matching records found",
                    "paginate": {
                        "first": "First",
                        "last": "Last",
                        "next": "Next",
                        "previous": "Previous"
                    },
                    "aria": {
                        "sortAscending": ": activate to sort column ascending",
                        "sortDescending": ": activate to sort column descending"
                    }
                },
                columnDefs: [{
                    "targets": '_all',
                    "defaultContent": "-"
                }, { "orderable": false, "targets": [7] },
                    {
                        targets: [3, 4, 5],
                        render: $.fn.dataTable.render.number(',', '.', 2, '')
                    }],
                columns: [
                    { "data": "apPurchases.purchaseNo", "name": "PurchaseNo", className: "text-center" },
                    { "data": "purchaseDate", "name": "PurchaseDate", className: "text-center" },
                    { "data": "apPurchases.supplier.name", "name": "Supplier.Name", className: "text-left" },
                    { "data": "apPurchases.total", "name": "Total", className: "text-right" },
                    /*{ "data": "apSaleOrder.referenceNo", "name": "ReferenceNo", className: "text-right" },*/
                    { "data": "apPurchases.totalSalesTaxAmount", "name": "TotalSalesTaxAmount", className: "text-right" },
                    { "data": "apPurchases.grandTotal", "name": "GrandTotal", className: "text-right" },
                    { "data": "apPurchases.status", "name": "Status", className: "text-right" },
                    {
                        "data": "apPurchases",
                        "render": function (data, row) {
                            if (data.status != "Approved") {
                                if (data.approve == true) {
                                    return "<a href='/AP/PurchaseReturn/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AP/PurchaseReturn/Approve?id=" + data.id + "' class='btn btn-sm btn-success m-t-n-xs'><i class='fa fa-thumbs-up'  title='Approve'></i></a>    <a  href='/AP/PurchaseReturn/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-trash-alt'  title='Delete'></i></a> <a href='@ViewBag.ReportPath2" + data.id + "' target='_blank' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-print' title='Print Report'></i></a> ";
                                } else {
                                    return "<a href='/AP/PurchaseReturn/Create?id=" + data.id + "' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-edit' title='Edit'></i></a>    <a  href='/AP/PurchaseReturn/Delete?id=" + data.id + "' class='btn btn-sm btn-danger m-t-n-xs'><i class='fa fa-trash-alt'  title='Delete'></i></a> <a href='@ViewBag.ReportPath2" + data.id + "' target='_blank' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-print' title='Print Report'></i></a> ";
                                }
                            }
                            else {
                                return '<a href="/AP/PurchaseReturn/Details?id=' + data.id + '" class="btn btn-sm btn-info m-t-n-xs"><i class="fa fa-search" title="View"></i></a>' + " <a href='@ViewBag.ReportPath2" + data.id +"' target='_blank' class='btn btn-sm btn-info m-t-n-xs'><i class='fa fa-print' title='Print Report'></i></a>" ;
                            }

                        }
                    }
                ]
            })


            $('#Table thead th').each(function () {
                if ($(this).hasClass("searchHeader")) {
                    var title = $(this).text();
                    $(this).html('<span hidden>' + title + '</span><input type="text" style ="color: black;width: inherit;" placeholder="' + title + '" />');
                }
            });
            table1.columns().every(function () {
                var that = this; debugger
                var searchBox = $('input', this.header());
                searchBox.on('keyup change clear', function () {
                    that.search(this.value).draw()
                })
                searchBox.on('click', function (e) {
                    debugger
                    e.stopPropagation();
                });
            });



        });
    </script>
}