@model Numbers.Entity.Models.BkgReceipt

@{
    ViewData["Title"] = "Booking Receipt";
    ViewData["CurrentPage"] = "Receipts";
}
<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="col-lg-9">
                <div class="ibox-title">
                    <h5>@ViewBag.EntityState Booking Receipt</h5>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal has-validation-callback" asp-action="Create" id="formNew">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div>
                            <input type="hidden" asp-for="Id" />
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" id="data_1">
                                    <label asp-for="ReceiptDate" class="col-lg-4 control-label"></label>

                                    <div class="col-lg-8">

                                        <div class="input-group date">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <input type="text" class="form-control custom-date-picker" asp-for="ReceiptDate" value=@(Model.Id==0 ? CommonHelper.CurrentDate : Model.ReceiptDate.ToString(CommonHelper.DateFormat)) data-validation="required">
                                            <span asp-validation-for="ReceiptDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="VehicleId" class="col-lg-4 control-label"></label>
                                    <div class="col-lg-8">
                                        <select class="chosen-select" asp-for="VehicleId" onchange="loadValue($(this).val())">
                                         <option selected="selected">Select...</option>
                                        </select>
                                        <span asp-validation-for="VehicleId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ReceiptAccount" class="col-lg-4 control-label"></label>
                                    <div class="col-lg-8">
                                        <select class="form-control" asp-for="ReceiptAccount" data-validation="required">
                                            <option selected="selected" value="">Select...</option>
                                            <option>Service Charges</option>
                                            <option>Freight</option>
                                            <option>Insurance</option>
                                            <option>Booking With Company</option>
                                        </select>
                                        <span asp-validation-for="ReceiptAccount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="ReceiptAmount" class="col-lg-4 control-label"></label>
                                    <div class="col-lg-8">
                                        <input id="ReceiptAmount" asp-for="ReceiptAmount" class="form-control" data-validation="required number" data-validation-range="[1.00-99999.00];float" data-validation-error-msg="Amount should be less or equal to Receivable" data-validation-error-msg-container="#rcmt-error-dialog" />
                                        <span asp-validation-for="ReceiptAmount" class="text-danger"></span>
                                        <span id="rcmt-error-dialog"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="BankCashAccountId" class="col-lg-4 control-label"></label>
                                    <div class="col-lg-8">
                                        <select class="chosen-select" asp-for="BankCashAccountId" data-validation="required" >
                                            <option selected="selected" value="">Select...</option>
                                        </select>
                                        <span id="error"></span>
                                        <span asp-validation-for="BankCashAccountId" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="Reference" class="col-lg-4 control-label"></label>
                                    <div class="col-lg-8">
                                        <input asp-for="Reference" class="form-control"/>
                                        <span asp-validation-for="Reference" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Description" class="col-lg-2 control-label"></label>
                                    <div class="col-lg-10">
                                        <textarea asp-for="Description" class="form-control" onfocus="descriptionText();"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-lg-offset-2">
                                        <a class="btn btn-white" asp-action="Index">List</a>
                                        @if (Model.Status != "Approved")
                                        {
                                            <input type="submit" value=@ViewBag.EntityState class="btn btn-primary" />
                                        }
                                        else
                                        {
                                            <a href="@string.Format(ViewBag.ReportPath, Model.VoucherId)" target="_blank" class="btn btn-primary "><i class="fa fa-print"></i> Voucher</a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-3" id="details">
            </div>
        </div>
    </div>
</div>


@section customJS{

    <script>
        function loadValue(val) {
            var receivedAmount = $('#receivedAmount');
            var customerName = $('#customerName');
            $.ajax({
                type: 'GET',
                url: '/Booking/DetailInfo/GetReceivedAmount?id=' + val
            }).then(function (data) {
                customerName.text(data.id);
                receivedAmount.text("Receivable: " + data.text);
            });

            $.ajax({
                type: 'GET',
                url: '/Booking/Api/PartialDetail?id=' + val
            }).then(function (data) {               
                $('#details').html(data);
                var receivable = $('#receivable').html();
                //var payable = $('#payable').html();
                //removeAttr("#txtReceveiable");
                $("#ReceiptAmount").attr("data-validation-allowing", "range[1.00; " + receivable + "],float");
            });
        }
        function descriptionText() {
            var bookingNo = $("#BookingDetailBookingNo").text();
            var reference = $("input[name=Reference]").val();
            var customer = $("#BookingDetailCustomerName").text();
            var text = '';
            text = text.concat("B.# ", bookingNo, " R.# ", reference, " FROM " , customer);
            
            if ($("#Description").val() == "")
                $("#Description").val(text);
        }
        $(function () {

            if (message != '') {
                if (success) { //no error
                    toasterMessage(false, "Booking Receipt", message);
                    $('#modal').modal('hide');
                }
                else
                    toasterMessage(true, "Booking Receipt", message);
            }
        });

        $(function () {

            $('#VehicleId').select2({
            ajax: {
                url: '/Booking/Api/GetReceivableVehicles',
                dataType: 'json',
                delay: 250,
                placeholder: 'Search for a Booking Vehicle',
                processResults: function (data,params) {
                    return {
                        results: data
                    };
                },
                cache:true
            }
        });

        // Fetch the preselected item, and add to the control
        var id = @Model.VehicleId;
            var accountSelect = $('#VehicleId');
        $.ajax({
            type: 'GET',
            url: '/Booking/Api/GetVehicle?id=' + id
        }).then(function (data) {
            var option = new Option(data.text, data.id, true, true);
            accountSelect.append(option).trigger('change');
            accountSelect.trigger({
                type: 'select2:select',
                params: {
                    data: data
                }
            });
        });
    });


         $(function () {
             $('#BankCashAccountId').select2({
            ajax: {
                url: '/GL/Api/GetCashBankAccounts',
                dataType: 'json',
                delay: 250,
                placeholder: 'Search for a Cash Bank Account',
                processResults: function (data,params) {
                    return {
                        results: data
                    };
                },
                cache:true
            }
             });
            
            

        // Fetch the preselected item, and add to the control
        var id = @Model.BankCashAccountId;
             var GLAccountIdSelect = $('#BankCashAccountId');
        $.ajax({
            type: 'GET',
            url: '/GL/Api/GetCashBankAccount?id=' + id
        }).then(function (data) {
            var option = new Option(data.text, data.id, true, true);
            GLAccountIdSelect.append(option).trigger('change');
            GLAccountIdSelect.trigger({
                type: 'select2:select',
                params: {
                    data: data
                }
            });
        });
        });
        $(function () {
            if ("@Model.Status" == "Approved") {
                $("form select, form input, form textarea").not(":submit").each(function (e) {
                    $(this).attr("disabled", "disabled");
                });
            }
        });
    </script>
    <script>
        $.validate({
            decimalSeparator: ','
        });
    </script>
}
